<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlockRock</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.3/dist/loadingoverlay.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" type="text/javascript"></script>

    <link rel="stylesheet" href="../static/login.css" />
    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <nav class="nav">
        <a href="#" class="nav_logo">BlockRock</a>
        <ul class="nav_items">
          <li class="nav_item">
            <a href="#" class="nav_link">Home</a>
            <a href="/blockchain" class="nav_link" disabled>Blockchain</a>
            <a href="/faq" class="nav_link">Services</a>
            <a href="/about" class="nav_link">About us</a>
          </li>
        </ul>
        <button class="button" id="form-open">Login</button>
      </nav>
    </header>
    <img id = "imagehome" src="../static/icon.png" alt="" height="450px">
    <div id="homelorem">
        <h1 id="firstlor">Securing Creativity, Empowering Innovation</h1>
        <p id="secondlor">Unveiling the Future with Blockchain-Powered Copyright Detection.</p>
        <form action="/logindetails" method="POST">
          <button class="button" id="GetStarted-open">Get Started</button>
        </form>
    </div>

    <!-- Home -->
    <section class="home">
      
    </section>
    <script src="../static/login.js"></script>
  </body>
</html>